@model MVC_CRUDProject.Models.Order_Detail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Make Sale
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Sales Page</h2>
            </div>
            <form method="post" action="/Sales/NewSales">
                <div class="modal-body">
                    <label>
                        Product Name
                    </label>
                    <br />
                    @Html.TextBoxFor(x => x.ProductID, new { @class = "from-control" })
                    <hr />
                    <label>Order ID</label>
                    <br />
                    @Html.TextBoxFor(x => x.OrderID, new { @class = "from-control" })
                    <hr />
                    <label>Quantity</label>
                    <br />
                    @Html.TextBoxFor(x => x.Quantity, new { @class = "from-control" })
                    <hr />
                    <label> Unit Price</label>
                    <br />
                    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "from-control" })
                    <br />
                    <hr />
                    <label>Discount</label>
                    <br />
                    @Html.TextBoxFor(x => x.Discount, new { @class = "from-control" })
                    <br />
                    <br />
                    <button type="submit" class="btn btn-info">Save Datas</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    
                </div>
            </form>
        </div>
    </div>

</div>